body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkkhaki;
}

.main-titles {
    color:sienna
}

.sub-titles{
    color: tomato;
    margin-top: 2em;
    margin-left: 3em;
}

.informals{
    height: 25em;
    width: 55em;
    background-color:thistle;
    border: firebrick;
    border-style: double;
    border-style: solid, red;
    margin-left: 5em;
    margin-top: 2em;
    padding: 5px;
}